# Series Notes

In [1]:
import numpy as np
import pandas as pd

In [2]:
obj1 = pd.Series([2,4,6,8])

In [3]:
obj1

0    2
1    4
2    6
3    8
dtype: int64

In [4]:
obj2 = pd.Series([-1,-3,-5,-7])

In [5]:
obj2

0   -1
1   -3
2   -5
3   -7
dtype: int64

In [6]:
obj3 = pd.Series([-1,2,-3,4])

In [7]:
obj3

0   -1
1    2
2   -3
3    4
dtype: int64

In [8]:
obj4 = pd.Series([5,-6,7,-8])

In [9]:
obj4

0    5
1   -6
2    7
3   -8
dtype: int64

In [10]:
obj5 = pd.Series(['anshu','anurag','abhijeet','george'])

In [11]:
obj5

0       anshu
1      anurag
2    abhijeet
3      george
dtype: object

In [12]:
obj6 = pd.Series([7.7, 2.7, 1.3, 1.5])

In [13]:
obj6

0    7.7
1    2.7
2    1.3
3    1.5
dtype: float64

In [14]:
obj1.values

array([2, 4, 6, 8], dtype=int64)

In [15]:
obj1.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
obj5.values

array(['anshu', 'anurag', 'abhijeet', 'george'], dtype=object)

In [17]:
obj6.values

array([7.7, 2.7, 1.3, 1.5])

In [18]:
obj7 = pd.Series(['shreya','samiksha','sneha','sanya'], index=['A','B','C','D'])

In [19]:
obj7

A      shreya
B    samiksha
C       sneha
D       sanya
dtype: object

In [20]:
obj8 = pd.Series([1,2,3,4,5,6,7,8,9], index=['i','ii','iii','iv','v','vi','vii','viii','ix'])

In [21]:
obj8

i       1
ii      2
iii     3
iv      4
v       5
vi      6
vii     7
viii    8
ix      9
dtype: int64

In [22]:
obj7['B']

'samiksha'

In [23]:
obj8['vii']

7

In [24]:
obj7['D'] = 'sia'

In [25]:
obj7

A      shreya
B    samiksha
C       sneha
D         sia
dtype: object

In [26]:
obj8['ix'] = 10

In [27]:
obj8

i        1
ii       2
iii      3
iv       4
v        5
vi       6
vii      7
viii     8
ix      10
dtype: int64

In [28]:
obj9 = pd.Series([-5,8,-2,6,-1,0,7])

In [29]:
obj9

0   -5
1    8
2   -2
3    6
4   -1
5    0
6    7
dtype: int64

In [30]:
obj9[obj9 > 0]

1    8
3    6
6    7
dtype: int64

In [31]:
obj9 * 2

0   -10
1    16
2    -4
3    12
4    -2
5     0
6    14
dtype: int64

In [32]:
np.exp(obj9)

0       0.006738
1    2980.957987
2       0.135335
3     403.428793
4       0.367879
5       1.000000
6    1096.633158
dtype: float64

In [33]:
np.exp(obj1)

0       7.389056
1      54.598150
2     403.428793
3    2980.957987
dtype: float64

In [34]:
0 in obj5

True

In [35]:
'B' in obj7

True

# Dictionary

In [36]:
# making dictionary

cars1 ={100: 'Lamborghini', 200: "Bugatti", 300: "Rolls Royce", 400: "Supra", 500: "GTR"}

In [37]:
# making series of dictionary

series = pd.Series(cars1)

In [38]:
series

100    Lamborghini
200        Bugatti
300    Rolls Royce
400          Supra
500            GTR
dtype: object

In [39]:
# when you are passing a dict, the result in the resulting series will have the dict's keys in sorted order
# you can override this by passing the dict keys in the order you want them to appear in the resulting series

cars2 = [50, 100, 200, 300, 400]

In [40]:
obj10 = pd.Series(cars1, index=cars2)

In [41]:
obj10

50             NaN
100    Lamborghini
200        Bugatti
300    Rolls Royce
400          Supra
dtype: object

In [42]:
# creating a dictionary with keys states and values population

pop = {'Himachal Pradesh': 10000, 'Uttarakhand': 20000, 'Haryana': 5000, 'Uttar Pradesh': 50000, 'Maharashtra': 40000}

In [43]:
states = ['Himachal Pradesh', 'Uttarakhand', 'Haryana', 'Uttar Pradesh', 'Maharashtra', 'Madhya Pradesh']

In [44]:
pop_data = pd.Series(pop, index=states)

In [45]:
pop_data

Himachal Pradesh    10000.0
Uttarakhand         20000.0
Haryana              5000.0
Uttar Pradesh       50000.0
Maharashtra         40000.0
Madhya Pradesh          NaN
dtype: float64

In [46]:
# isnull function is used to detect missing data
# if data is missing, it will return True otherwise False

pd.isnull(pop_data)

Himachal Pradesh    False
Uttarakhand         False
Haryana             False
Uttar Pradesh       False
Maharashtra         False
Madhya Pradesh       True
dtype: bool

In [47]:
# notnull function is also used to detect missing data
# if data is missing, it will return False otherwise True

pd.isnull(pop_data)

pd.notnull(pop_data)

Himachal Pradesh     True
Uttarakhand          True
Haryana              True
Uttar Pradesh        True
Maharashtra          True
Madhya Pradesh      False
dtype: bool

In [48]:
# series also has these as instance methods

pop_data.isnull()

Himachal Pradesh    False
Uttarakhand         False
Haryana             False
Uttar Pradesh       False
Maharashtra         False
Madhya Pradesh       True
dtype: bool

In [49]:
pop_data.notnull()

Himachal Pradesh     True
Uttarakhand          True
Haryana              True
Uttar Pradesh        True
Maharashtra          True
Madhya Pradesh      False
dtype: bool

In [50]:
# A useful series feature for many application is that it automatically aligns by index label in arithmetic operations

series

100    Lamborghini
200        Bugatti
300    Rolls Royce
400          Supra
500            GTR
dtype: object

In [51]:
pop_data

Himachal Pradesh    10000.0
Uttarakhand         20000.0
Haryana              5000.0
Uttar Pradesh       50000.0
Maharashtra         40000.0
Madhya Pradesh          NaN
dtype: float64

In [52]:
# Both the series object itself and its index have name attribute, which integrates with other key areas of pandas functionality

pop_data.name = 'population'

In [53]:
pop_data.index.name = 'state'

In [54]:
pop_data

state
Himachal Pradesh    10000.0
Uttarakhand         20000.0
Haryana              5000.0
Uttar Pradesh       50000.0
Maharashtra         40000.0
Madhya Pradesh          NaN
Name: population, dtype: float64

In [55]:
# A series index can be altered in place by assignment 

obj1

0    2
1    4
2    6
3    8
dtype: int64

In [56]:
obj1.index = ['Anshu', 'Professor', 'Samiksha', 'Sneha']

In [57]:
obj1

Anshu        2
Professor    4
Samiksha     6
Sneha        8
dtype: int64